@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
/*Primary*/
--Soft-blue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);
/*Neutral*/
--main-BG: hsl(217, 54%, 11%);
--card-BG: hsl(216, 50%, 16%);
--line: hsl(215, 32%, 27%);
--white: hsl(0, 0%, 100%);
}

body{
    font-family: "Outfit", sans-serif;
    background: var(--main-BG);
}
#eqimg{
    max-width: 100%;
    border-radius: 10px;
}

.card {
    background: var(--card-BG);
    margin: 10% auto;
    padding:15px;
    border-radius: 10px;
    width:288px;          
    }

.himg{position: relative;}
.iconview{position: absolute;
top: 0;
padding: 40.5%;
background: var(--Cyan);
border-radius: 10px;
z-index: 1;
opacity: 0;
}
.iconview:hover{
 opacity: .5;
cursor: pointer;
}


h1{
    color: var(--white);
    font-size: larger;
    margin: 3% 0%;    
}
h1:hover{
    color: var(--Cyan);
    cursor: pointer;
}
p{  color:var(--Soft-blue);
    margin: 5% 0%;
   }
#p2{
    color: var(--Cyan);
    border-bottom: 1px solid var(--line);
    padding-bottom: 5%;
}
#clkimg{ padding-left: 25%;
         margin-top: 10%;   }
span{ color: var(--Soft-blue);}
.btmdiv{
    display: flex;}
    hr{border-style: inset;
    border-width: thin;}
#avtrimg{max-width: 55px;
    border: 2px solid var(--white);
    border-radius: 50%;
    margin: 5%;}
#cred{padding-top: 10%;
    color:var(--Soft-blue);
    font-weight: 300;}
#auth{padding-top: 10%;
    color: var(--white);
    font-weight: 300;
margin-left: 1%;}
#auth:hover{
        color: var(--Cyan);
        cursor: pointer;
    }
 
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }